.fretboard-container {
    background-image: url(../Images/fretboard3.png);
    background-size: 100%;
    width: 1200px;
    height: 150px;
    position: absolute;

}

.main{
    background-image: linear-gradient(180deg, rgb(196, 203, 218) 0%, #a48eaa 70%);
    font-style: normal;
    font-weight: 700;
}

.note {
    width: 16px;
    height: 16px;
    position: absolute;
    border-radius: 50%;
    display: inline-block;

}


#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

