@page "/"
@inject HttpClient Http

<div class="main">
<h2>Guitar App</h2>


@if(_scales==null)
{
    <p><em>Loading...</em></p>
}
else{
    
        <label>Key</label>
        <select @onchange="OnKeyChanged">
            <option></option>
            @foreach (var item in Enum.GetValues(typeof(Note.NoteEnum)))
            {
                <option value=@item>
                    <td>@item.ToString().Replace("s","#")</td>
                </option>
            }
        </select>
        <label>Scale</label>
        <select @onchange="OnScaleChanged">
            <option></option>
            @for (var i=0;i< _scales.Length; i++)
            {
                <option value=@i>
                    <td >@_scales[i].Name</td>
                </option>
            }
        </select>
        <label>Mode</label>
        <select @onchange="OnModeChanged" >
            @for(var i=0;i<_fretboardManager.CurrentScale.Count;i++)
            {
                <option value=@i>
                    <td>@(i+1)</td>
                </option>
            }
        </select>

        <Fretboard @ref="_fretboard"/>
        
    
    @code{
        FretboardManager _fretboardManager;
        private Scale[] _scales;
        Fretboard _fretboard;
        
        protected override async Task OnInitializedAsync()
        {
            _fretboardManager=new FretboardManager();
            _scales = await Http.GetFromJsonAsync<Scale[]>("sample-data/scales.json");
        }

        public void OnKeyChanged(ChangeEventArgs e)
        {
            if((string)e.Value=="")
            {
                _fretboardManager.CurrentKey=null;
            }
            else
                _fretboardManager.CurrentKey = (Note.NoteEnum)Enum.Parse(typeof(Note.NoteEnum), e.Value.ToString());
            _fretboardManager.UpdateNotes();
            _fretboard.UpdateBoard(_fretboardManager.AllNotes);
        }
        public void OnScaleChanged(ChangeEventArgs e)
        {
            if(e.Value.ToString()=="")
            {
                _fretboardManager.CurrentScale=new List<Note.NoteEnum>(){Note.NoteEnum.C};
            }
            else
                _fretboardManager.CurrentScale =_scales[ int.Parse( e.Value.ToString() ) ].ScaleNotes;
            _fretboardManager.CurrentMode=0;
            _fretboardManager.UpdateNotes();
            _fretboard.UpdateBoard(_fretboardManager.AllNotes);
        }

        public void OnModeChanged(ChangeEventArgs e){
            _fretboardManager.CurrentMode = int.Parse(e.Value.ToString());
            _fretboardManager.UpdateNotes();
            _fretboard.UpdateBoard(_fretboardManager.AllNotes);
        }

    }
}

</div>